body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.navbar {
    background-color: #333;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #5469a3; /* Altera a cor de fundo quando o botão é hover */
}
footer {
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #7289da;
    font-weight: bold;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.info-box img {
    width: 50px; /* Tamanho da imagem */
}

.info-box p {
    margin-top: 5px; /* Espaço entre a imagem e o texto */
}

.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    position: relative; /* Tornar a posição do card relativa */
    width: 300px; /* Ajuste a largura do card conforme necessário */
    height: 180px; /* Ajuste a altura do card conforme necessário */
    padding: 10px;
    background-color: #000; /* Fundo preto */
    color: #fff;
    border: 1px solid #fff; /* Borda branca de 1 pixel */
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    transition: transform 0.2s, box-shadow 0.2s; /* Adicione transições de animação */
}

.card::before {
    content: "Cliente"; /* Texto "Cliente" no selo */
    background-color: gold; /* Cor de fundo dourado */
    color: #000; /* Cor do texto do selo */
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-90deg); /* Rotação para torná-lo vertical */
}

.card:hover {
    transform: scale(1.05); /* Ao passar o mouse, aumenta a escala em 5% */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Adicione uma sombra suave ao passar o mouse */
}
.card img {
    width: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px; /* Centralize a imagem e adicione espaço abaixo dela */
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    margin: 10px 0;
    background-color: transparent; /* Remova o fundo azul */
    color: #fff; /* Texto mais forte */
    font-weight: bold; /* Texto mais forte */
    padding: 5px 10px;
    border-radius: 5px;
}
