body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s; 
}


.content {
    text-align: center;
    margin-top: 100px;
}


footer {
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #7289da;
    font-weight: bold;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.info-box img {
    width: 50px; /* Tamanho da imagem */
}

.info-box p {
    margin-top: 5px; /* Espaço entre a imagem e o texto */
}


.btn.btn-hover:hover {
    background-color: #5469a3; /* Cor de fundo ao passar o mouse */
    transition: background-color 0.3s; /* Duração da animação de transição */
}
