body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.navbar {
    background-color: #333;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #5469a3; /* Altera a cor de fundo quando o botão é hover */
}
footer {
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #7289da;
    font-weight: bold;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.info-box img {
    width: 50px; /* Tamanho da imagem */
}

.info-box p {
    margin-top: 5px; /* Espaço entre a imagem e o texto */
}

.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    position: relative;
    width: 250px; /* Reduzi o tamanho dos cards */
    min-height: 180px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card h2,
.card p {
    z-index: 2;
}

.card h2 {
    font-size: 16px; /* Reduzi o tamanho do texto do cliente */
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.card p {
    margin: 0;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.card img {
    width: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px; /* Centralize a imagem e adicione espaço abaixo dela */
}

